* {
    box-sizing: border-box;
    margin: 0px;
}
body {
    display: grid;

    grid-template-rows: 10% 80% 10%;

    width: 100vw;
    height: 100vh;

    font-family: Google Sans,Roboto,Helvetica,Arial,sans-serif;
}